.back{
    padding:10px;
    background-color: rgb(227, 98, 177);
    margin:10px;
}
h1,h4{
    text-align: center;
    width:100%;
    position: sticky;
}
h4{
    font-weight: 100;
    top: 1px;
}
input[type="text"],
input[type="email"],
input[type="number"],
select,textarea{
    width: 90%;
    height: 30px;
    padding: 10px;
    border:3px solid purple;
    height:5px;
    margin:5px;
}
.logo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.fb,.insta,.gm{
   
    object-fit: contain;
    clip-path: circle();
    margin: 4px;
    transition: width 2s,background-color 2s,clip-path 2s;
}
.fb:hover,.insta:hover,.gm:hover{
    width:"200px";
    clip-path: fill-box;
    background-color: blanchedalmond;
}
.logo{
    animation: intro 2s ease-in infinite;
}
@keyframes intro{
    0%{
        justify-content: left;
    }
    100%{
        justify-content: center;
    }
}
@media screen and (min-width:600px) {
     .back{
        
        padding-left: 300px;
        padding-right:300px;
        padding-top: 50px;
        padding-bottom: 50px ;
        height: 100%;
        border: 2px;
        background-color: rgb(225, 162, 215);
        background-clip:content-box;
        container: 500px;
     }
    
}
